@import "tailwindcss";

@theme inline {
  --color-primary: #1E1F22;
  --color-secondary: #4A4B4E;
  --color-cream: #EBE7D9;
  --color-orange: #7EA69D;
  --color-brown: #7EA69D;
  --color-accent: #7EA69D;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #1E1F22;
  color: #EBE7D9;
  font-family: Arial, Helvetica, sans-serif;
}
